
/* Contenedor del shortcode */
.shortcode-registro #shortcode-registro{
    max-width: 650px;
    margin: 20px auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #333;
}

/* Input para buscar club */
.shortcode-registro #nombre_club{
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

/* Contenedor de resultados de clubes */
.shortcode-registro #resultados_clubes {
    width: 100%;
    margin: 10px auto;
    padding: 20px;
    box-sizing: border-box;
}

/* Estilo para la lista de resultados */
.shortcode-registro #resultados_clubes ul {
    max-height: 600px; 
    overflow-y: auto; 
    padding: 0;
    margin: 0;
    list-style: none; /* Elimina viñetas */
    box-sizing: border-box;
}

/* Estilo para cada resultado */
.shortcode-registro #resultados_clubes li {
    padding: 5px 10px;
    border-bottom: 1px solid #eee;
    font-size: 0.9rem; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.shortcode-registro #resultados_clubes li strong {
    white-space: normal; /* Permitir múltiples líneas */
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%; /* Ocupa todo el espacio disponible */
    font-size: 1rem;
    flex: 1 1 100%; /* Forzar que ocupe toda la fila */
}

.shortcode-registro #resultados_clubes li span {
    font-size: 0.85rem;
    color: #555;
    word-break: break-word; /* Romper palabras largas */
    flex: 1 1 100%; /* Forzar que ocupe toda la fila */
    margin: 0; /* Quitar márgenes innecesarios */
}


/* Boton seleccionar dentro de cada li */
.shortcode-registro #resultados_clubes li button.seleccionar-club{
    font-size: 0.8rem;
    padding: 6px 12px; /* Ajustar tamaño del botón */
    background-color: #0064ff;
    border: none;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-left: 10px; /* Separación con el texto */
    margin-top: 0; /* Asegura que esté alineado */
    flex-shrink: 0; /* No permite que el botón se reduzca */
    text-align: center;
}

.shortcode-registro #resultados_clubes li button.seleccionar-club:hover{
    background-color: #004dcc;; 
    transform: scale(1.05);
}

/* Boton de cargar mas */
.shortcode-registro #ver_mas_resultados{
    display: block;
    width: 100%;
    margin: 15px auto;
    padding: 10px 20px;
    background-color: #ffc107;
    color: #333;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.shortcode-registro #ver_mas_resultados:hover{
    background-color: #e0a800;
    transform: scale(1.05);
}

.shortcode-registro #ver_mas_resultados:disabled {
    background-color: #ddd;
    color: #aaa;
    cursor: not-allowed;
    transform: none;
    box-shadow: none;
}

/* Contedor de seleccion y formulario */
.shortcode-registro #contenedor-seleccion-y-formulario{
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

/* Contenedor de club seleccionado */
.shortcode-registro #club-seleccionado{
    margin-bottom: 10px;
    font-size: 14px;
    color: #555;
}

.shortcode-registro #club-seleccionado strong{
    font-weight: bold;
    color: #0064ff;  
}

/*Tee seleccionado */
.shortcode-registro #tee-seleccionado label {
    display: block;
}

.shortcode-registro #tee-seleccionado select#tee_select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
    width: 100%;
    background-color: #fff;
}

.shortcode-registro #tee_seleccionado select#tee_select:focus {
    border-color: #0064ff;
    outline: none;
}

/* Formulario de registro */
.shortcode-registro #form_partida {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espacio entre los campos */
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-top: 20px;
}

/* Etiquetas del formulario */
.shortcode-registro #form_partida label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Campos de entrada de texto */
.shortcode-registro #form_partida input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
    width: 100%;
}

/* Estilo del botón de submit */
.shortcode-registro #form_partida button {
    padding: 12px 20px;
    background-color: #00c803; 
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%;
}

.shortcode-registro #form_partida button:hover {
    background-color: #218838;
}

.shortcode-registro #form_partida button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

/* Contenedor de resultados */
.shortcode-registro #resultado .success-message {
    font-size: 1.2em; 
    color: #00c803; 
    text-align: center; 
    margin-top: 15px;
    padding: 8px;
    border: 1.5px solid #00c803; 
    border-radius: 8px; 
    opacity: 1;
    transition: opacity 1s ease-out; /* Suaviza la desaparición */
}

.shortcode-registro #resultado .success-message h2 {
    font-size: 1.4em; 
    margin-bottom: 8px;
    font-weight: bold;
}

.shortcode-registro #resultado .success-message p {
    font-size: 1em; 
    margin: 5px 0;
}

/* Estilo para #total_resultados */
.shortcode-registro #resultados_clubes #total_resultados {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.shortcode-registro #resultados_clubes #total_resultados:hover {
    background-color: #f0f8ff; /
}

.shortcode-registro #resultados_clubes #total_resultados::before {
    content: '🔍 ';
    margin-right: 5px;
}

/* Responsividad */
@media (max-width: 650px) {
    .shortcode-registro #shortcode-registro {
        padding: 15px;
    }

    /* Input para buscar club */
    .shortcode-registro #nombre_club{
        padding: 12px;
        font-size: 16px;
    }

    .shortcode-registro #tee-seleccionado select#tee_select {
        padding: 12px;
        font-size: 16px;
    }

    .shortcode-registro #resultados_clubes li {
        flex-direction: column;
        align-items: flex-start;
    }

    .shortcode-registro #resultados_clubes li strong {
        max-width: 100%;
        margin-bottom: 5px;
        font-size: 1.2rem;
    }

    .shortcode-registro #resultados_clubes li span {
        margin-bottom: 5px;
        font-size: 1rem;
    }

    .shortcode-registro #resultados_clubes li button.seleccionar-club {
        width: 100%; 
        padding: 14px;
        font-size: 1.2rem;
        margin-left: 0; 
        margin-top: 10px;
    }

    /* Info club seleccionado */
    .shortcode-registro #club-seleccionado {
        font-size: 18px;
    }
 
    /* Button calcular */
    .shortcode-registro #form_partida button {
        padding: 14px;
        font-size: 1.2em;
        width: 100%;
    }

    /* Boton ver mas */
    .shortcode-registro #ver_mas_resultados {
        padding: 14px; 
        font-size: 1.2em;
    }

    /* Campos de entrada de texto */
    .shortcode-registro #form_partida input {
        padding: 12px;
        font-size: 16px;
    }
}
